  
  body {
    background-color: #D1F2EB;
  }
  
  
  h1, h2 {
    text-align: center;
    color: blue;
  }
  
  tr:nth-child(even) {
    background-color: LightGrey;
  }
  
  th {
    background-color: rgba(255, 99, 71, 0.5);
  }
  
  
  